--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: calender_activity; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.calender_activity (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    name_marathi character varying(200),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: calender_activity_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.calender_activity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calender_activity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calender_crop; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.calender_crop (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    name_marathi character varying(200),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: calender_crop_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.calender_crop ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calender_crop_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calender_cropvariety; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.calender_cropvariety (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    name_marathi character varying(200),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    crop_id bigint NOT NULL
);


--
-- Name: calender_cropvariety_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.calender_cropvariety ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calender_cropvariety_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calender_dayrange; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.calender_dayrange (
    id bigint NOT NULL,
    start_day integer NOT NULL,
    end_day integer NOT NULL,
    info text NOT NULL,
    info_marathi text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    activity_id bigint NOT NULL,
    crop_variety_id bigint NOT NULL
);


--
-- Name: calender_dayrange_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.calender_dayrange ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calender_dayrange_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calender_dayrangeproduct; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.calender_dayrangeproduct (
    id bigint NOT NULL,
    dosage numeric(10,2) NOT NULL,
    dosage_unit character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    day_range_id bigint NOT NULL,
    product_id bigint NOT NULL
);


--
-- Name: calender_dayrangeproduct_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.calender_dayrangeproduct ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calender_dayrangeproduct_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calender_product; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.calender_product (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    name_marathi character varying(200),
    product_type character varying(100),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: calender_product_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.calender_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calender_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: calender_activity; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: calender_crop; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.calender_crop (id, name, name_marathi, created_at, updated_at) FROM stdin;
1	Grapes	αñªαÑìαñ░αñ╛αñòαÑìαñ╖	2025-10-24 14:48:04.915007+05:30	2025-10-24 14:48:04.915007+05:30
\.


--
-- Data for Name: calender_cropvariety; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: calender_dayrange; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: calender_dayrangeproduct; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: calender_product; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: calender_activity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.calender_activity_id_seq', 48, true);


--
-- Name: calender_crop_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.calender_crop_id_seq', 1, true);


--
-- Name: calender_cropvariety_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.calender_cropvariety_id_seq', 6, true);


--
-- Name: calender_dayrange_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.calender_dayrange_id_seq', 324, true);


--
-- Name: calender_dayrangeproduct_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.calender_dayrangeproduct_id_seq', 817, true);


--
-- Name: calender_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.calender_product_id_seq', 168, true);


--
-- Name: calender_activity calender_activity_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calender_activity
    ADD CONSTRAINT calender_activity_name_key UNIQUE (name);


--
-- Name: calender_activity calender_activity_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calender_activity
    ADD CONSTRAINT calender_activity_pkey PRIMARY KEY (id);


--
-- Name: calender_crop calender_crop_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calender_crop
    ADD CONSTRAINT calender_crop_name_key UNIQUE (name);


--
-- Name: calender_crop calender_crop_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calender_crop
    ADD CONSTRAINT calender_crop_pkey PRIMARY KEY (id);


--
-- Name: calender_cropvariety calender_cropvariety_crop_id_name_87536033_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calender_cropvariety
    ADD CONSTRAINT calender_cropvariety_crop_id_name_87536033_uniq UNIQUE (crop_id, name);


--
-- Name: calender_cropvariety calender_cropvariety_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calender_cropvariety
    ADD CONSTRAINT calender_cropvariety_pkey PRIMARY KEY (id);


--
-- Name: calender_dayrange calender_dayrange_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calender_dayrange
    ADD CONSTRAINT calender_dayrange_pkey PRIMARY KEY (id);


--
-- Name: calender_dayrangeproduct calender_dayrangeproduct_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calender_dayrangeproduct
    ADD CONSTRAINT calender_dayrangeproduct_pkey PRIMARY KEY (id);


--
-- Name: calender_product calender_product_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calender_product
    ADD CONSTRAINT calender_product_name_key UNIQUE (name);


--
-- Name: calender_product calender_product_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calender_product
    ADD CONSTRAINT calender_product_pkey PRIMARY KEY (id);


--
-- Name: calender_activity_name_72c50a78_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX calender_activity_name_72c50a78_like ON public.calender_activity USING btree (name varchar_pattern_ops);


--
-- Name: calender_crop_name_55cc8b27_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX calender_crop_name_55cc8b27_like ON public.calender_crop USING btree (name varchar_pattern_ops);


--
-- Name: calender_cropvariety_crop_id_23b62ba8; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX calender_cropvariety_crop_id_23b62ba8 ON public.calender_cropvariety USING btree (crop_id);


--
-- Name: calender_dayrange_activity_id_8e1321db; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX calender_dayrange_activity_id_8e1321db ON public.calender_dayrange USING btree (activity_id);


--
-- Name: calender_dayrange_crop_variety_id_b11526ed; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX calender_dayrange_crop_variety_id_b11526ed ON public.calender_dayrange USING btree (crop_variety_id);


--
-- Name: calender_dayrangeproduct_day_range_id_5c7e8101; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX calender_dayrangeproduct_day_range_id_5c7e8101 ON public.calender_dayrangeproduct USING btree (day_range_id);


--
-- Name: calender_dayrangeproduct_product_id_4c54f30d; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX calender_dayrangeproduct_product_id_4c54f30d ON public.calender_dayrangeproduct USING btree (product_id);


--
-- Name: calender_product_name_a4da213a_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX calender_product_name_a4da213a_like ON public.calender_product USING btree (name varchar_pattern_ops);


--
-- Name: calender_cropvariety calender_cropvariety_crop_id_23b62ba8_fk_calender_crop_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calender_cropvariety
    ADD CONSTRAINT calender_cropvariety_crop_id_23b62ba8_fk_calender_crop_id FOREIGN KEY (crop_id) REFERENCES public.calender_crop(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calender_dayrange calender_dayrange_activity_id_8e1321db_fk_calender_activity_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calender_dayrange
    ADD CONSTRAINT calender_dayrange_activity_id_8e1321db_fk_calender_activity_id FOREIGN KEY (activity_id) REFERENCES public.calender_activity(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calender_dayrange calender_dayrange_crop_variety_id_b11526ed_fk_calender_; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calender_dayrange
    ADD CONSTRAINT calender_dayrange_crop_variety_id_b11526ed_fk_calender_ FOREIGN KEY (crop_variety_id) REFERENCES public.calender_cropvariety(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calender_dayrangeproduct calender_dayrangepro_day_range_id_5c7e8101_fk_calender_; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calender_dayrangeproduct
    ADD CONSTRAINT calender_dayrangepro_day_range_id_5c7e8101_fk_calender_ FOREIGN KEY (day_range_id) REFERENCES public.calender_dayrange(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calender_dayrangeproduct calender_dayrangepro_product_id_4c54f30d_fk_calender_; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calender_dayrangeproduct
    ADD CONSTRAINT calender_dayrangepro_product_id_4c54f30d_fk_calender_ FOREIGN KEY (product_id) REFERENCES public.calender_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

